/* ---- ( iTunes CSS ) ---- */
body{
font-family: Arial,Helvetica,sans-serif;
line-height: normal;
font-size:small;

}

table { 
	font-family: Arial,Helvetica,sans-serif;
	font-size:small;
	color: #000;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #666666;
	border-top: none;	
}
table a {
	text-decoration: underline;
}
table a:visited {
	text-decoration: none;
}
tr.odd {
	background-color: #ebf3ff;
}
tr a {
	color: #000000;
}
tr:hover a {
	color: #ffffff;
}
tr:hover, tr.odd:hover {
	background-color: #3d80df;
	color: #ffffff;
}
caption {
	height: 45px;
	line-height: 44px;
	color: #60634E;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #ffffff url(captop.jpg) no-repeat;
	background-position: 50% top;
	border-left: 2px solid #616161;
	border-right: 2px solid #616161;
}
thead th {
	font-size: 105%;
	color: #000;
	background: #ffffff url(tbar.gif) repeat-x;
	height: 33px;
}
thead th:hover {
	background: #ffffff url(tbov.gif) repeat-x;
	
}
tr {
	vertical-align: top;
}
tr,th,td {
	padding: .75em;
}
td {
	border-left: 1px solid #dadada;
}
tfoot tr {
	background: #fff url(bbar.gif) repeat-x;
}
tfoot td, tfoot th{
	color: #000;
	border: 0px;
}

a {
	color: #3d80df;
	font-size: 105%;
}

h1{
	margin: 0 0 25px 0;
	line-height: 16px;
	padding: 0 0 0 15px;
	font-family: tahoma;
	font-size: 16px;
	color: #343434;
	font-weight: bold;
	border-left: 10px #343434 solid;
	text-transform: uppercase;
}

body {
background: #f2f2f2; 

}

.normal {
margin: 0 15px 0 0;
	padding: 0;
	font-family: tahoma;
	font-size: 11px;
	color: #483f2e;
	font-weight: normal;
	line-height: 16px;
}

p{
margin: 0 15px 0 0;
	padding: 0;
	font-family: tahoma;
	font-size: 11px;
	color: #483f2e;
	font-weight: normal;
	line-height: 16px;
}