h1 {

font-family: arial;
color: #933237;
font-size: 19px;
letter-spacing: 0px;
line-height: 19px;
text-align: justify;
margin: 0 0 20px 0;
} 

h2 {

font-family: arial;
color: #933237;
font-size: 15px;
letter-spacing: 0px;
line-height: 33px;
text-align: justify;
}

h2 {

font-family: arial;
color: #933237;
font-size: 13px;
letter-spacing: 0px;
line-height: 33px;
text-align: justify;
}

h4 {

font-family: arial;
color: #933237;
font-size: 12px;
letter-spacing: 0px;
line-height: 33px;
text-align: justify;
}


p {

font-family: arial;
color: #444;
font-size: 12px;
letter-spacing: 0px;
line-height: 15px;
text-align: justify;
margin: 0 0 10px 0;
}



body{
font-family: arial;
color: #fff;
font-size: 12px;
letter-spacing: 0px;
line-height: 14px;
text-align: justify;
margin-left: 4%;
}

table { 
	font-family: Arial,Helvetica,sans-serif;
	font-size:small;
	color: #000;
	text-align: left;
	
}
table a {
	text-decoration: underline;
}
table a:visited {
	text-decoration: none;
}
tr.odd {
	background-color: #ebf3ff;
}
tr a {
	color: #000000;
}
caption {
	height: 45px;
	line-height: 44px;
	color: #60634E;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
	background-position: 50% top;
	border-left: 2px solid #616161;
	border-right: 2px solid #616161;
}
thead th {
	font-size: 105%;
	color: #000;
	height: 33px;
}
tr {
	vertical-align: top;
}
tr,th,td {
	padding: .75em;
}
tfoot td, tfoot th{
	color: #000;
}

a {
	color: #3d80df;
	font-size: 105%;
}

