    @font-face {
        font-family: 'MyFont';
        src: url('fonts/SuisseIntl-Regular.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
     }

    body{
        /*font-family:adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;*/
        font-family: 'MyFont', sans-serif;
        font-size:12px;

	    background: #FFFFFF; /*#2D6AA8;*/ /*F7CDBA;*/
    }

    body.es{
	    background: #FFFFFF; /*#5f9545;*/
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #2D6AA8;
    }

    body.es .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #5f9545;
    }

    .nav-link{
	color:#000000;
        font-weight: bold;
    }

    .nav-link:hover{
	color:#2D6AA8;
        font-weight: bold;
    }

    body.es .nav-link:hover{
	color:#5f9545;
    }

    .nav-link .active, body.es .nav-link:hover .active, body.es .nav-link .active{
	color:#000000;
    }

    p, h1, form, button{border:0; margin:0; padding:0;}
    .spacer{clear:both; height:1px;}


	/* Styling for message associated with a validation error. */
	form.cleanform  .errMsg {
		color: #CC3333 !important;
		display: block;
		border: 1px solid #2D6AA8; /*CC3333;*/
	}

	body.es form.cleanform  .errMsg {
		border: 1px solid #5f9545;
	}


    form.cleanform{
        margin:0 auto;
        width:1024px;
        padding:14px;
        border:solid 2px #2D6AA8; /*E2E2E2;*/
        background:#FFFFFF;
    }

    body.es form.cleanform{
        border:solid 2px #5f9545;
    }


    form.cleanform div.header {
        border-bottom:solid 1px #2D6AA8; /*E2E2E2;*/
        font-size:11px;
        margin-bottom:20px;
    }

    body.es form.cleanform div.header {
        border-bottom:solid 1px #5f9545;
    }

    form.cleanform div.header h1 {
        font-size:21px;
        font-weight:bold;
        margin-bottom:8px;
    }

    form.cleanform div.header .description {
        color: #666666;
    }

    form.cleanform p{
        font-size:11px;
        margin-bottom:20px;
    }

    form.cleanform label{
        display:block;
        font-weight:bold;
        text-align:right;
        width:140px;
        float:left;
    }

    form.cleanform .small{
        color:#666666;
        display:block;
        font-size:11px;
        font-weight:normal;
        text-align:right;
        width:140px;
    }


    form.cleanform .check{
        font-size:12px;
        padding:4px 2px;
        margin:2px 0 20px 10px;
    }

    form.cleanform input{
        float:left;
        font-size:12px;
        padding:4px 2px;
        border:solid 1px #2D6AA8; /*E2E2E2;*/
        width:200px;
        margin:2px 0 20px 10px;
    }

    body.es form.cleanform input{
        border:solid 1px #5f9545;
    }


    form.cleanform  legend
    {
        font-size:150%;
        font-weight:bold;
	padding: 2px 6px;
	border:none;
        color: #2D6AA8;
    }

    form.cleanform  fieldset{
        border:solid 1px #2D6AA8; /*E2E2E2;*/
        padding:10px;
        margin-bottom: 20px;
    }

    body.es form.cleanform  legend
    {
        color: #5f9545;
    }

    body.es form.cleanform  fieldset{
        border:solid 1px #5f9545;
    }

    form.cleanform select{
        float:left;
        font-size:12px;
        padding:4px 2px;
        border:solid 1px #2D6AA8; /*E2E2E2;*/
        width:200px;
        margin:2px 0 20px 10px;
    }

    body.es form.cleanform select{
        border:solid 1px #5f9545;
    }

    /* Button main class */
    form.cleanform input.button {

        width:125px;
        height:30px;

        font-size:11px;
        font-weight:bold;

        background-color:#2D6AA8; /*f5f5f5;*/
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

        /*font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;*/
        font-family: 'MyFont', sans-serif;
    font-size:110%;
    text-decoration:none;
    font-weight:bold;
    color:#FFFFFF;
    cursor:pointer;

        background-position: 6px;
        background-repeat:no-repeat;
        text-align:center;

        margin: 5px;
        padding: 5px;
    }

    body.es form.cleanform input.button {
	background-color:#5f9545;
    }

    form.cleanform h2 {
        font-size: 200%;
        color: #2D6AA8;
    }

    body.es form.cleanform h2 {
        color: #5f9545;
    }

    form.cleanform h3 {
        font-size: 160%;
        color: #2D6AA8;
    }

    form.cleanform h4 {
        font-size: 120%;
        color: #2D6AA8;
    }

    form.cleanform table.preus{
    	width: 100%;
    	padding: 1px;
    	border-collapse: collapse;
    }

    form.cleanform table.preus tr{
    	width: auto;
    	border: 1px solid #CCCCCC;
    	padding: none;
    }

    form.cleanform table.preus tr th{
    	width: auto;
    	border: 1px solid #CCCCCC;
    	padding: none;
    	background-color: #636363;
    	color: #FFFFFF;
    }

    form.cleanform table.preus tr td{
    	width: auto;
    	border-collapse: collapse;
    	border: 1px solid #CCCCCC;
    	padding: none;
    }

    form.cleanform input[type=radio] {
        width:20px;
    }

    .titolResum{
        width:85px;
    }
