<img style="width:100%" src="https://tfgunir.HOSTNAME.com/backend_gestio/templates/cabecera_es.jpg"/>
<h1><%$titol_congres%></h1>
MUCHAS GRACIAS POR ENVIAR SU RESUMEN DE COMUNICACIÓN. / THANK YOU FOR YOUR PAPER SUBMIT.
<br>
ID: <%$txt_comunicacions_id%>
<br>
<br>
Para consultar el estado de su comunicación, ha de utilizar el siguiente <a href="<%$adreca_admin_web%>/comunicacions_view_login.php">enlace</a>.
<br>
To check the status of your communication use the following  <a href="<%$adreca_admin_web%>/comunicacions_view_login.php">link</a>.
<br>
<br>
Indicando los datos siguientes / Using the following data:
<p>User: <%$txt_comunicacions_mail%></p>
<p>Password: <%$txt_comunicacions_code%></p>

<br>
Si desea realizar modificaciones sobre el contenido del resumen, le rogamos que contacte con la Secretaría Técnica / If you want to modify the contents of the paper, please contact the Technical Secretary
<br>
<%$txt_no_publicacio%>

<br>
<%$correu_congres_comunicacions%>
<br>(34) 98 123 12 12
