<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title><%$titol_congres?></title>
<style type="text/css">
<!--
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
h1 {font-size: 36px}
-->
</style>
</head>

<body>
<h1><%$titol_congres%></h1>
<p>&nbsp;</p>
<p>L'abstract per la XXII JORNADA GASTROENTEROL&Ograve;GICA DE LES COMARQUES CATALANES s'ha enviat correctament. Pr&ograve;ximament rebr&agrave; la notificaci&oacute; de l'aprovaci&oacute; o denegaci&oacute; del treball enviat. Agra&iuml;m la seva participaci&oacute;.</p>
</body>
</html>