<h2><%$titol_congres%></h2>
<h3><%$dates_del_congres%></h3>

<%$dades.nom%> <%$dades.cognoms%>
<br>


<b>Moltes gracies per enviar la seva sol·licitud d'inscripció/Muchas gracias por enviar su solicitud de inscripción</b>
<p>
Aquest document únicament detalla les dades de l'inscripció que hem rebut.
Una vegada validat el pagament, rebrá el document de confirmació.
</p>

<p>
Este documento únicamente detalla los datos de la inscripción que hemos recibido.
Una vez validado el pago, recibirá el documento de confirmación.
</p>

</b>
<h3>INSCRIPCI&Oacute;</h3>

<table width="80%"  border="0" cellspacing="0" cellpadding="0">
	  <tr>
            <td  width="45%"><div align="left"><b>Referencia</b></div></td>
            <td  width="55%"><%$dades.id%></td>
          </tr>
          <tr>
            <td><div align="left"><b>Nom/Nombre</b></div></td>
            <td><%$dades.nom%></td>
          </tr>
	  <tr>
            <td  width="45%"><div align="left"><b>Cognoms/Apellidos</b></div></td>
            <td  width="55%"><%$dades.cognoms%></td>
          </tr>
          <tr>
            <td><div align="left"><b>Localitat/Localidad</b></div></td>
            <td><%$dades.localitat%></td>
          </tr>
          <tr>
            <td><div align="left"><b>Lloc de treball/Centro de trabajo</b></div></td>
            <td><%$dades.lloctreball%></td>
          </tr>
          <tr>
            <td><div align="left"><b>E-mail</b></div></td>
            <td><%$dades.email%></td>
          </tr>
          <tr>
            <td><div align="left"><b>Tel&eacute;fon contacte/Tel&eacute;fono de contacto</b></div></td>
            <td><%$dades.telparticular%></td>
          </tr>
	  <tr>
            <td><div align="left"><br/><b>PREU INSCRIPCI&Oacute;/PRECIO INSCRIPCIÓN</b></div></td>
            <td><b><%$dades.total_inscripcio%> &euro; </b></td>
          </tr>
          <tr>
            <td width="45%"><div align="left"><b>Hotel</b></div></td>
            <td width="55%"><%$hotel%></td>
          </tr>
          <tr>
            <td><div align="left"><b>D&iacute;a d'entrada/Fecha entrada</b></div></td>
            <td><%$dataentrada%></td>
          </tr>
          <tr>
            <td><div align="left"><b>D&iacute;a de sortida/Fecha salida</b></div></td>
            <td><%$datasortida%></td>
          </tr>
          <tr>
            <td><div align="left"><b>Tipus Habitaci&oacute;/Tipo Habitación</b></div></td>
            <td><%$habitacio%></td>
          </tr>
          <tr>
            <td><div align="left"><br/><b>PREU HOTEL/PRECIO HOTEL</b></div></td>
            <td><b><%$dades.total_allotjament%> &euro; </b></td>
          </tr>
	  <tr>
            <td><div align="left"><br/><b>TOTAL A PAGAR</b></div></td>
            <td><b><%$dades.total%> &euro; </b></td>
          </tr>
</table>
<br>
<h3>Dades de facturaci&oacute;/ Datos facturación</h3>
<table width="80%"  border="0" cellspacing="0" cellpadding="0">
	<tr>
            <td width="45%"><div align="left"><b>Nom/Ra&oacute; Social / Nombre/Razón</b></div></td>
            <td width="55%"><%$dades.nom_facturacio%> </td>
          </tr>

	  <tr>
            <td><div align="left"><b>NIF/CIF</b></div></td>
            <td><%$dades.nif_facturacio%> </td>
          </tr>

	  <tr>
            <td><div align="left"><b>Direcci&oacute; / Dirección</b></div></td>
            <td><%$dades.adresa_facturacio%> </td>
          </tr>

  	  <tr>
            <td><div align="left"><b>CP</b></div></td>
            <td><%$dades.cp_facturacio%> </td>
          </tr>

	  <tr>
            <td><div align="left"><b>Poblaci&oacute; /Población</b></div></td>
            <td><%$dades.localitat_facturacio%> </td>
          </tr>
</table>
<h3>Forma de pagament /Forma de pago</h3>
<p>El pagament es pot a través de transferència bancària a <%$banc%>, a nom de <%$ref_ccc%>
(nº de compte: <%$ccc%>).</p>
<p>
Rebreu la conformitat de la inscripció i del pagament per correu electrònic una vagada validat el
pagament.</p>
<p>
És indispensable enviar el comprobat de pagament a la Secretaria Tècnica.
</p>
ACTO SERVEIS
FAX (34) 93 755 23 83
<p>
<%$correu_congres%>
</p>

<p>
El pago se debe realizar a través de transferencia bancaria a <%$banc%>, a nombre de
<%$ref_ccc%> (nº de cuenta: <%$ccc%>).
</p>
<p>
Recibirá la confirmación de la inscripción y la factura por correo electrónico.
</p>
Es imprescindible enviar el comprobante de transferencia a la Secretaría Técnica.
<p>
ACTO SERVEIS
FAX (34) 93 755 23 83
</p>
<%$correu_congres%>
<p>

<h3><%$TXT_PROTECCIO_DADES_TITOL%></h3>
<P><%$TXT_PROTECCIO_DADES%></p>